
{% for institution in institutions %}
            <div class="form-group form-group--checkbox js-inst ">
              <label>

                <input type="radio" name="organization" value="{{ institution.id }}">
                <span class="checkbox radio"></span>
                <span class="description">
                  <div class="title">{{ institution.name }}</div>
                  <div class="subtitle">{{ institution.description }}</div>
                </span>

              </label>
            </div>
{% endfor %}
